{{!-- <div class="col-md-4">
    <div class="card">
        <img class="card-img-top" src="https://www.top10berlin.de/sites/top10berlin.de/files/styles/juicebox/public/location/slider/2016/08/10/8mm_bar_tresen_top10berlin_800x400px.jpg?itok=ht9M6WmS" alt="" />
        <div class="card-body">
            <h5 class="card-title">Loophole</h5>
            <p class="card-text">A cool venue in Neukoelln</p>
        </div>
    </div>
</div> --}}

<div class="col-md-4">
    <div class="card">
        <img class="card-img-top" src="{{this.photo}}" alt="{{this.name}}" />
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.area}}</p>
            <p class="card-text text-muted">{{this.address}}</p>
        </div>
    </div>
</div>